[2017-01-20 08:21] frcroth opened #4 "Barcode-Generator is not commited"
LARS,PAUL,JOHN HURRY

[2017-01-20 08:23] frcroth opened #5 "Barcode-Generator does not work yet"
Should generate Barcodes for:
- Books
- Studens

[2017-01-25 18:08] bvorak commented on #5
@frcroth The team is actively working to resolve the issue. Thanks for your patience!

[2017-01-27 07:55] cnmicha opened #6 "ISBN-13 check digit calculation"
https://en.wikipedia.org/wiki/International_Standard_Book_Number#ISBN-13_check_digit_calculation

[2017-01-27 08:12] cnmicha opened #8 "SQLite primary key lengths"
possible? would be a performance increasement

[2017-01-28 14:08] cnmicha opened #11 "auto remove orphans"
remove book orphans when booktype is deleted
-> sqlite feature?

[2017-01-30 09:09] frcroth commented on #6
Done

[2017-01-30 09:09] #6 closed, assigned to frcroth

[2017-02-07 12:54] cnmicha opened #13 "database connection"

[2017-02-07 13:03] cnmicha commented on #8
already fixed in 01fb9887edca6aaac3a28df47ed9b0518bf29253

[2017-02-07 13:03] #8 closed, assigned to cnmicha, EinKeks

[2017-02-07 13:07] #11 closed, assigned to cnmicha, EinKeks

[2017-02-07 13:18] bvorak opened #14 "Icon"
We should have one

[2017-02-07 13:25] frcroth commented on #14
![ico](https://cloud.githubusercontent.com/assets/6863832/22692884/4021451a-ed41-11e6-82dc-3a57a539c87e.png)

[2017-02-07 13:25] cnmicha commented on #14
http://megaicons.net/iconspack-178/5688/

[2017-02-07 13:36] bvorak opened #15 "Informationen anzeigen Schüler"
- Eingabe von Vor- u. Nachname oder ID oder Benutzername führt zur Ausgabe aller Schülerdaten

[2017-02-07 13:39] bvorak opened #16 "Bücher ausgeben"
Bibliothekar scannt Buchcode und Schüler-ID:
Beziehung Schüler-Buch wird gespeichert

[2017-02-07 13:48] bvorak opened #17 "Bücher zurücknehmen"
Bibliothekar scannt Buchcode und Schüler-ID:
Beziehung Schüler-Buch ist als nicht mehr aktuell gekennzeichnet

[2017-02-07 13:52] bvorak opened #18 "Bücher ins System "einpflegen""
Ein oder mehrere Bücher sollen per ISBN(?) in
die Datenbank eingelesen mit einer eindeutigen ID bestückt
(und mit Atributen versehen) werden können.

[2017-02-07 13:57] bvorak opened #19 "Schüler einzeln ins System aufnehmen"
Ein oder mehrere Schüler sollen in die
die Datenbank aufgenommen (und mit Atributen versehen)
werden können.

[2017-02-07 14:09] bvorak opened #20 "Autocomplete inputs"
Autocomplete bei:
- Name
- Benutzername
- ID
- etc...

[2017-02-07 14:20] bvorak opened #22 "Identify students by name and birthday"
Geburtsdatum soll über dropdown Menüs ausgewählt werden können und im Format "yyyymmdd" an die Datenbank weitergegeben werden.

[2017-02-07 14:26] bvorak opened #23 "Print open rental relations"
für:
- Klassen
- Schüler

[2017-02-07 14:31] bvorak opened #24 "convert 10 char ISBNs into 13 char ISBNs"
User soll sowohl 10 als auch 13 stellige ISBNs eingeben können

[2017-02-07 14:39] cnmicha commented on #11
wontfix for book-rental history purposes

[2017-02-07 14:42] frcroth opened #25 "Automatic cursor control"
A handy little feature would be that, at programm start, the cursor is already in the field we'll be working in with the scanning device as well as the automatic movement to another TEdit field.

[2017-02-07 14:45] frcroth opened #26 "Please only post issues in English"
English is a West Germanic language that was first spoken in early medieval England and is now a global lingua franca.[4][5] Named after the Angles, one of the Germanic tribes that migrated to England, it ultimately derives its name from the Anglia (Angeln) peninsula in the Baltic Sea. It is most closely related to the Frisian languages, although its vocabulary has been significantly influenced by

[2017-02-07 14:47] bvorak opened #27 "Zustand von Büchern speichern"
Wenn Buch zurückgegeben wird kann Zustand des Buches in Noten von 1 - 5 mit in die Datenbank eingepflegt werden

[2017-02-07 14:49] bvorak commented on #26
Feel free to translate any issue you want to the language of your liking :)

[2017-02-07 15:03] bvorak opened #28 "Maintain Wiki!"
Differenciate between tutorial and documentation of program

[2017-02-07 18:55] cnmicha opened #29 "Schüler per Schülerliste (CSV) ins System aufnehmen"

[2017-02-07 19:04] bvorak commented on #11
@cnmicha
Shouldn't there be an easy manual way to delete these "Orphans" though?
Say the database is getting kind of clogged after a couple of years and you want to delete all entries older than value x ?

[2017-02-07 19:31] cnmicha opened #30 "clean database"
The rental table gets clogged after a couple of years, so maybe we should only keep entries younger than x years? This could be done after program close, but please ask the user before removing.

[2017-02-07 19:32] cnmicha commented on #11
@bvorak Yes, mysql even offers a feature to delete them automatically when a related entity is removed. But this is kind of useless since we have the return-date field in the db and we want to track history of the books rentals, even if the student gets deleted. Clearing the database would be a nice feature, see #30

[2017-02-07 19:46] bvorak opened #31 "What about a "preference" tab or window?"
Starting with #30 it seems useful to have some kind of global preferences.
I am sure as the project grows there will be other things that could go there.

- #30
- #34 make a database-file-name preference

[2017-02-09 23:25] cnmicha opened #33 "output db errors"
they are already catched, but we need a function that outputs the error message when false/null/etc. is returned from a function that accesses the database

[2017-02-09 23:27] cnmicha opened #34 "pass sqlite filename as parameter of TDBConnection constructor"

[2017-02-09 23:51] cnmicha opened #35 "DBConnection destructor"

[2017-02-10 07:35] frcroth opened #36 "Document printing in wiki"
Please document the printing feature in the wiki

[2017-02-10 08:12] frcroth opened #37 "Error enumeration"
If you create errors please enumerate them and add them to the wiki.

[2017-02-10 08:29] #33 closed, assigned to cnmicha, EinKeks

[2017-02-10 08:30] cnmicha opened #38 "db data into type: check success"

[2017-02-10 08:41] cnmicha opened #39 "sql injection"

[2017-02-14 12:53] cnmicha opened #40 "ER-model documentation"

[2017-02-14 13:30] #35 closed, assigned to nobody

[2017-02-14 14:16] PSchlesselmann commented on #34
Path to database can now be passed as string to the constructor.
In case the path is not valid the constructor will exit and return false.

[2017-02-14 14:17] #13 closed, assigned to EinKeks

[2017-02-14 14:19] #38 closed, assigned to cnmicha

[2017-02-14 14:58] bvorak opened #43 "Null checks everywhere please"
GUI example: it shouldn't be possible to enter empty strings

[2017-02-14 15:56] cnmicha commented on #43
database unit is fine

[2017-02-14 15:57] cnmicha commented on #39
@frcroth this is critical!

[2017-02-14 16:29] #40 closed, assigned to cnmicha

[2017-02-14 16:31] cnmicha commented on #30
gui and management unit group, which functions do you need? @frcroth @JanMich

[2017-02-17 07:13] cnmicha opened #45 "deletion of rental entity deletes related book and booktype entities?"
@db group: is this true or just an editor bug?

[2017-02-17 07:24] cnmicha opened #47 "id prefix"
prefix letter for user ids
prefix letter for book ids

[2017-02-17 07:46] bvorak opened #48 "Feature: Should be possible to create dummy book ID"
Create dummy book ID without ISBN associated.

Scan dummy book ID and be able to connect with book ID later on

Use case:
Print sheet with dummy IDs in advance and connect books later on

[2017-02-17 07:58] bvorak opened #50 "Use cardinal instead of int64 for IDs?"

[2017-02-17 08:02] #34 closed, assigned to frcroth

[2017-02-17 08:03] cnmicha commented on #48
already done. close issue? @bvorak

[2017-02-17 08:05] frcroth commented on #43
gui is fine

[2017-02-17 08:18] frcroth commented on #48
Should it?

[2017-02-17 08:27] ghost commented on #50
Yes we should use cardinal instead of int64 or Strings
In my opinion it is not effective to use int64 because ist has an big negative Intervall which we would never use and I am not shure if it will always work on 32 Bit systems.
Cardinal is more effective and more than sufficient!

[2017-02-18 00:26] cnmicha opened #52 "getBooktypeByIsbn"

[2017-02-18 00:27] cnmicha opened #53 "getAllRentalsByBookAndStudent"

[2017-02-18 00:29] cnmicha commented on #50
code with int64 variables compiles in 32 bit on my system.. And how do you want to prevent the application from crashing because there are coming ids from the database that exceed the cardinal-max value? SQLite does not offer a feature to set the length of primary keys @ghgd-mp

[2017-02-18 08:56] bvorak commented on #53
Isn't there always only one recent rental with a specific book ID and Student ID?
Or do you mean Book "or" Student ID?

[2017-02-18 10:45] ghost commented on #53
We have to ask Mrs Brosel if a book for more than one year will be rented for this time or only for each year.
If it is rented for the entire time the book id and the student id have only one rental
But we could also give back an Array of Rentals which have these two ids

[2017-02-18 10:49] ghost commented on #50
well but we generate all ids and the Cardinal Array of 4E9 will probably suffice.
With the int64 there is much more space (which we don`t need) but it also uses the double amount of space

[2017-02-18 10:49] cnmicha commented on #53
Whether Ms. Brosell says it is going to be rented for two years or not, think about students repeating one year. I think an array is the best solution

[2017-02-18 10:52] cnmicha commented on #50
My fault, I'm sorry. Imo cardinals would be okay, too but we should consistently keep one type

[2017-02-18 10:54] ghost commented on #50
ok so from now cardinals ?

[2017-02-18 10:56] cnmicha opened #54 "ER-Model documentation wrong"
see comments of ae194f0945da7fab094438d92449469c930dd472

[2017-02-18 10:57] cnmicha commented on #50
We can try and switch back to int64s if necessary

[2017-02-18 10:58] ghost commented on #47
well we have an prefix number
the prefix number from the students is 1 or 2
and from the book ids it is 3, 4, 5, 6 and 7
Would this suffice ?

[2017-02-18 10:59] ghost commented on #50
perfect !

[2017-02-18 11:00] cnmicha commented on #50
reopened because the code needs to be updated

[2017-02-18 11:01] ghost commented on #45
well a lot changes in the last lesson but in the one before it only deletes the rentals.
We will test in Tuesday.

[2017-02-18 11:02] cnmicha commented on #47
Perfect

[2017-02-18 11:04] ghost commented on #30
We did a function before.
Perhaps we can move it next lesson to your uDBConnection.

[2017-02-18 11:06] ghost commented on #29
When we have time we will look for this feature

[2017-02-19 12:17] ghost commented on #53
yes I think you are right

[2017-02-21 11:02] #54 closed, assigned to cnmicha

[2017-02-21 11:11] cnmicha commented on #50
why not use int64? the rental id is _generated automatically_ and it uses only less space more (and runs with 32 bit!). The application will crash or destroy - yes really - the data inside the database when rental ids extend the cardinal range. The maximum of SQLite is int64.

[2017-02-21 11:41] #53 closed, assigned to cnmicha

[2017-02-21 11:42] #52 closed, assigned to EinKeks

[2017-02-21 11:43] john0107 opened #57 "Hilfe beim Comitten please"
We need ein bisschen help bitte, der BarcodePrinter ist jetzt fertig. Einer der Gurkentruppe möge herkommen und uns dabei helpen please

.
Danke

[2017-02-21 11:57] #57 closed, assigned to frcroth, cnmicha

[2017-02-21 12:10] john0107 opened #61 "GUI does not scale when maximized"
Bitte mal ausprobieren, und **selber** entscheiden, ob so gewollt. Danke Felix
_Gruß_

[2017-02-21 12:11] #4 closed, assigned to Jonas01, john0107

[2017-02-21 12:13] cnmicha commented on #61
Hello,
thank you very much for your request. Please describe in a more detailed way what is not working exactly and add the "barcode-generator" label if necessary, so we can filter your issue. @john0107
Thank you very much

[2017-02-21 12:14] PSchlesselmann commented on #61
It does maximize, but not re-scale.

[2017-02-21 12:15] john0107 commented on #61
Richtig liebe Leute.

[2017-02-21 12:24] PSchlesselmann commented on #50
UPDATE: We have decided to use LargeInt.

[2017-02-21 13:08] ghost opened #62 "getAllRentalsByBookAndStudent: id is always nil"
Well the DBConnection grab in the function persist rental on the rental-object id.
This id is nil cause  you say that we should not create this id because the databause do.
But the way it is now it won't work in our opinion.
So we could also make a random id for rantals in the intervall from 0 to 1 Mio
but for that we need a function that controll if a rental id is used like getRentalById(id:Cardi

[2017-02-21 13:17] ghost opened #63 "delete returned rentals older than date"
In our opinion we should delete all returned rentals by a date parameter.
If we delete all rentals individually that is to much and unnecessary work !
If you need help by this function you can look uDBManagement where it is completly working with a query.
Perhaps also Issue #30 gets solved with this issue.
Dou you agree ?

[2017-02-21 13:20] ghost commented on #27
yes you can get the quali with BQualiCheck and change it with BookQualiNew

[2017-02-21 13:20] #27 closed, assigned to nobody

[2017-02-21 13:21] ghost commented on #19
NewStudent (lastN, firstN, classN : String; birth: TDate)

[2017-02-21 13:21] #19 closed, assigned to nobody

[2017-02-21 13:21] ghost commented on #18
BookAdd(isbn : String);

[2017-02-21 13:21] #18 closed, assigned to nobody

[2017-02-21 13:22] ghost commented on #17
BookBack(BId, SId :Cardinal)
the rental has now a return date

[2017-02-21 13:22] #17 closed, assigned to nobody

[2017-02-24 07:10] cnmicha commented on #62
Did you test that the id is not created automatically by the database? @ghgd-mp

[2017-02-24 07:19] frcroth opened #65 "Align rental relations table"

[2017-02-24 07:23] frcroth commented on #30
I do not think that this is a concern for the GUI, because we will not be handling the db.

[2017-02-24 07:24] #47 closed, assigned to nobody

[2017-02-24 07:35] JanMich opened #66 "new structure in gui"
- query icons not longer necessary
- not longer "TVerwaltung" changed into "TDBManagement"

[2017-02-24 07:40] bvorak opened #68 "Feature: Limit day pick to accurate number of days for each month"

[2017-02-24 07:44] frcroth commented on #22
Which datatype would you like, im guessing String?

[2017-02-24 07:46] bvorak commented on #66
Both issues are adressed by guy/gui group.

[2017-02-24 08:01] bvorak commented on #61
Should be possible to achive by placing eveything in a panel and auto resize it

[2017-02-24 08:02] john0107 commented on #61
I would suggest to just use alClient

[2017-02-24 08:04] JanMich commented on #62
new Rental overrides the old Rental, automatic id does not work ...

[2017-02-24 08:10] ghost commented on #15
It ist possible with these functions:
function getStudentById(id: Cardinal): TStudent;
function getStudentsByClassName(classN: string): ArrayOfStudents
function getStudentsByLastNamePattern(lastName: string): ArrayOfStudents;
function getStudentsByFirstNamePattern(firstName: string): ArrayOfStudents;
where you get an Array of Students
The student are from the type TStudent, which has getter to get

[2017-02-24 08:13] ghost commented on #16
You can rent a book with the function
procedure StuRentBook(BId, SId :Cardinal);
You can give it back with
procedure BookBack(BId, SId :Cardinal);

[2017-02-24 08:25] JanMich commented on #66
BookRentStu changed into StuRentBook

[2017-02-24 08:27] bvorak opened #71 "Feature: Add single print jobs to a global print queue"
When in student or book tab one should be able to add directly to a global barcode print queue(tab).
Accessible print tab to print the whole queue at once

[2017-02-24 08:28] cnmicha opened #72 "isConnected always returns FALSE"

[2017-02-24 08:28] cnmicha opened #73 "database does not connect"

[2017-02-24 08:29] cnmicha commented on #62
closed in 71b86bc212b4a6aa0b7189f7d870074dc4e9444e

[2017-02-24 08:29] #62 closed, assigned to nobody

[2017-02-24 08:29] ghost commented on #50
ok so int64 ^^
LargeInt equals int64
http://lazarus-ccr.sourceforge.net/docs/rtl/types/largeint.html

[2017-02-24 08:29] #50 closed, assigned to nobody

[2017-02-24 08:32] bvorak commented on #28
Update according to design changes in commit  455dbdc

[2017-02-24 08:34] cnmicha commented on #72
and it might "kill" the SQLQuery object when it's called

[2017-02-24 08:35] cnmicha commented on #30
issue replaced by #63

[2017-02-24 08:35] #30 closed, assigned to nobody

[2017-02-24 14:21] ghost commented on #20
We could do it when the database group make a SQL enquiry that give an Array of all isbns, names etc... back that begin with the transfered beginning.
The SQL enquiry should be easy with the Like-Operator and the % after it.

[2017-02-26 10:47] cnmicha commented on #63
@frcroth This is a concern for the GUI because you can display a progress bar while the database is cleaning up (or sth else more user-friendly)

[2017-02-26 10:48] cnmicha commented on #20
getStudentsByFirstNamePattern and getStudentsByLastNamePattern already exist in TDBConnection :)

[2017-02-28 11:30] bvorak opened #74 "Licensing: What kind of License?"
As we are already talking about copyright in the GUI-Impressum, we should at some point think about the license we want to use for this Project.

Open Source: yay or nay?
If so: what specific open source license...
If not: why not? ;)

[2017-02-28 12:56] JanMich opened #75 "Coherency in source code"
We have various Names for equal Functions ...
e.g. BookAdd and NewStudent
should we be more consequent and rename some functions?

[2017-02-28 13:37] JanMich commented on #66
u have to write student, book, rental and booktype into your uses otherwise it will not work

[2017-02-28 13:55] cnmicha opened #76 "db persist function always returns false"

[2017-02-28 14:00] bvorak opened #78 "outsource Errors into extra unit"
and display them in seperate window

[2017-02-28 14:09] cnmicha opened #79 "db dates as string"

[2017-02-28 14:18] frcroth commented on #78
I would love this but unfortunately it didn't work on the first try,

[2017-02-28 14:40] cnmicha opened #81 "db error catch does not work"
error message is displayed in lazarus instead of writing it into the DBError var

[2017-02-28 15:07] cnmicha commented on #72
BoolToStr returns "-1" on true, we thought it means false

[2017-02-28 15:07] #72 closed, assigned to nobody

[2017-02-28 15:07] #73 closed, assigned to cnmicha

[2017-02-28 16:21] cnmicha commented on #45
it is a bug/unwanted feature of our SQLite file editor. Nothing to worry about.

[2017-02-28 16:21] #45 closed, assigned to nobody

[2017-02-28 16:24] #76 closed, assigned to cnmicha

[2017-02-28 16:29] cnmicha commented on #79
@JanMich @ghgd-mp @Tobvolt  sorry, again: why shouldn't the gui call our getDate functions and convert them to the desired date format by themself?

[2017-02-28 16:33] cnmicha commented on #78
why wontfix? @frcroth

[2017-02-28 16:42] cnmicha commented on #39
If someone has an idea how to fix this, tell us

[2017-02-28 16:47] cnmicha commented on #74
Comparison chart https://choosealicense.com/appendix/

[2017-02-28 16:51] cnmicha commented on #23
für:
* alle offenen Ausleihbeziehungen, kein Filter

[2017-02-28 17:01] cnmicha opened #83 "catch multiple rentals for one book at once"
Please check before persisting the rental object into the database that there is no one already existing to avoid students renting books twice at once. SQLite does not check that.

[2017-02-28 17:27] JanMich commented on #79
When u save the date as a string insite the database it would be much more easy wenn we dont need to convert it to a TDate and deconvert it to a string again.

[2017-02-28 17:47] cnmicha commented on #50
Lazarus' database classes are only having functions with "LargeInt" in their name, so we used LargeInts in 3a7e939c99754dc00fcfa30442b9ee23597b970a

[2017-02-28 17:52] cnmicha commented on #79
But I don't think the GUI group wants to output it as 2016-02-28, right? I think the TDate type will be easier for conversion

[2017-02-28 17:58] JanMich commented on #79
If they will output the date then like dd-mm-yyyy or they-dd-mm or something like this

[2017-02-28 18:00] cnmicha commented on #79
DB is always yyyy-mm-dd

[2017-03-02 08:59] frcroth opened #86 "Is it safe to work on newer versions?"
As I wanted to commit only a single line of code, I saw who many files had changed just by me opening the program on a newer OS and Lazarus version. Do you have experience with this? Will it alter the program irreversibly?

[2017-03-02 09:02] #66 closed, assigned to nobody

[2017-03-02 09:04] frcroth opened #87 "LargeInt - does it work?"
It doesn't compile for me, complaining that LargeInt isn't a known identifier

[2017-03-02 16:18] ghost commented on #87
another argument for #50
Cardinals are much more effective, more space than we will need and will work !
(But LargeInts is a Alias for int64 and this compiled before at our try)

[2017-03-02 22:23] cnmicha commented on #86
Lazarus creates many backup files and some files inside the lib-folder. You do not need to commit them. Also, it is better do not commit the compiled exe file. When committing from the desktop client, see [gitignore](https://www.atlassian.com/git/tutorials/gitignore) for workflow simplification.
Generally, think of which files you changed and only commit those. By the way, you can see the differen

[2017-03-02 22:25] cnmicha commented on #87
I don't experience any issues running Lazarus v1.6.2. Please check for updates or replace LargeInt with int64.

[2017-03-02 22:27] cnmicha commented on #87
@frcroth The 'unit' label is for TDBManagement, 'databse' for TDBConnection.

[2017-03-02 22:29] cnmicha commented on #87
Please see [this](https://github.com/Herder-IT-Solutions/HerderBib/issues/50#issuecomment-281313661) comment about #50. @ghgd-mp

[2017-03-02 22:34] cnmicha commented on #87
There seem to be some name inconsistencies betweeen LargeInt, LongInt and int64.

[2017-03-02 22:35] #86 closed, assigned to cnmicha

[2017-03-02 22:36] cnmicha commented on #79
Closed due to [this](https://github.com/Herder-IT-Solutions/HerderBib/issues/79#issuecomment-283114063).

[2017-03-03 07:11] JanMich opened #89 "GetStudentsByBirthDate"
please add the function "GetStudentByBirthDate"

[2017-03-03 07:13] frcroth opened #90 "Display German "Umlaute" in RentalRelations table"
It is shown as "?" currently.

[2017-03-03 07:18] cnmicha commented on #90
UTF8 charset is the key

[2017-03-03 07:20] ghost commented on #79
Dear @cnmicha,
so I came to the point that it is not clear how we conclude.
if the gui group shoud make the transformation it is ok but we all have to know.

[2017-03-03 07:34] cnmicha commented on #87
fixed? @frcroth

[2017-03-03 07:35] cnmicha commented on #79
I thought this is what we decided on Tuesday @ghgd-mp

[2017-03-03 07:37] cnmicha opened #91 "missing error catches"

[2017-03-03 07:59] #90 closed, assigned to frcroth

[2017-03-03 08:04] ghost commented on #79
and how does we conclude

[2017-03-03 08:10] frcroth opened #92 "Don't show the password in plain text"

[2017-03-03 08:12] #91 closed, assigned to EinKeks

[2017-03-03 08:16] cnmicha commented on #79
The GUI should convert TDate to the needed string format.

[2017-03-03 08:16] #79 closed, assigned to cnmicha

[2017-03-03 08:30] frcroth opened #96 "Add function to show printing queue in GUI"
Printing is done as far as the GUI group is concerned, an additional feature would be adisplay for the queue.

[2017-03-03 13:48] ghost commented on #87
I'm sorry for my many questions.
I looked in your Unit where I see that you now want to use LongInt.
Is this necessary for the sqlite database ?
Because all of your arguments not to use Cardinals in #50 are much worse for LongInt than for Cardinal
LongInts have for us only ste half of the space Cardinals have
It have also a negative Intervall which we will never use.

[2017-03-03 14:24] ghost commented on #89
The function give only a TStudent Object back
But it is possible that two students enjoy their birthday at the same day

[2017-03-03 15:51] cnmicha commented on #87
Please see [this](https://github.com/Herder-IT-Solutions/HerderBib/issues/50#issuecomment-281313661) updated comment.

[2017-03-05 19:04] #87 closed, assigned to cnmicha

[2017-03-05 19:16] #89 closed, assigned to EinKeks

[2017-03-06 14:36] ghost commented on #20
@cnmicha Yes but for autocomplete i guess that you dont have the full first name or last name or isbn ... and you want that if only one possible object exist everything will fill out automaticaly.
When you have to type in the whole isbn to get the information it is not so effetive in my opinion.
With the like Operator you can get an array of objects that begin with the parameter and of the length

[2017-03-06 14:38] #16 closed, assigned to nobody

[2017-03-06 14:39] #15 closed, assigned to nobody

[2017-03-07 12:48] Jonas01 commented on #5
All done!

[2017-03-07 12:48] #5 closed, assigned to Jonas01, john0107

[2017-03-07 12:49] #81 closed, assigned to EinKeks

[2017-03-07 12:51] cnmicha opened #98 "threaded database queries"
please use threading when calling functions of TDBConnection, either in GUI or TDBManagement

[2017-03-07 12:54] cnmicha commented on #20
??? @ghgd-mp

[2017-03-07 12:58] PSchlesselmann commented on #98
http://wiki.freepascal.org/Multithreaded_Application_Tutorial/de#Die_Klasse_TThread

[2017-03-07 12:59] frcroth commented on #92
in the code

[2017-03-07 13:07] PSchlesselmann commented on #74
Michael, Janne and me think this one should do fine:
https://choosealicense.com/licenses/cc-by-sa-4.0/

[2017-03-07 13:08] bvorak opened #99 "make Ctrl-V possible in TEdit"

[2017-03-07 13:09] bvorak opened #100 "Print Queue: Delete Items from Queue"

[2017-03-07 13:12] JanMich commented on #75
done

[2017-03-07 13:12] #75 closed, assigned to JanMich

[2017-03-07 13:18] cnmicha opened #101 "rename TDBManagement to TManagement"
because TDBManagement and TDBConnection are not distinguishable intuitively, what do you think?

[2017-03-07 13:24] JanMich commented on #29
done

[2017-03-07 13:24] #29 closed, assigned to nobody

[2017-03-07 13:26] cnmicha opened #102 "getStudentsByBirthdate sql syntax error"

[2017-03-07 13:27] cnmicha commented on #102
does it work now? Please close the issue if it works

[2017-03-07 13:29] bvorak opened #103 "Klausurersatzleistung"
Das wird soweit ich es jetzt verstanden habe Erwartet:

Vorführung
Funktionsumfang darstellen
modulaisiert? klar getrennt? strukturiert?
model view controller-Konzept
Wartbarkeit
Erweiterbarkeit

Sowohl als Präsi als auch als Schriftliche "Dokumentation"

[2017-03-07 13:34] cnmicha opened #105 "update db structure pdf"

[2017-03-07 13:40] bvorak opened #106 "Identify by school username"
It was agreed on not implementing this at the moment
but I still think it should be considered for the future

[2017-03-07 13:45] bvorak commented on #74
I agree

[2017-03-07 13:55] frcroth commented on #106
So v2 then?

[2017-03-07 14:05] PSchlesselmann opened #107 "Make sure that only one program instance can exist at a time"

[2017-03-07 14:07] bvorak opened #108 "GUI: Give some kind of Feedback when rental is successful"

[2017-03-07 14:10] bvorak opened #109 "GUI: More helpful labels in Ausleihen tab"

[2017-03-07 14:25] #105 closed, assigned to cnmicha

[2017-03-07 14:31] cnmicha commented on #106
Maybe v3?

[2017-03-07 14:46] cnmicha opened #112 "destroy deleted objects (parameter-variables)"

[2017-03-07 14:49] cnmicha opened #113 "wrong date function comments"
this is wrong:
`//Erg: Trägt aktuelles Datum (als Double (nicht lesbar)) als Rückgabedatum in die Datenbank ein
    procedure BBack(BId, SId :LongInt);         `

The date is saved as YYYY-MM-DD in the database, not as double.
I don't know if there are any more wrong comments

[2017-03-07 14:51] bvorak opened #114 "Ansammlung von issues"
Funktionenen für die GUI:
bekommen Name geben SId
bekommen BId geben Name

[2017-03-07 14:51] cnmicha opened #115 "BBack not working"
uDBManagement, line 240:
`  rental := aoR[1];  `
I think you need to use index 0 instead of 1, and the gui should display a selection window/error message/... if the array length is >1

GUI Group (@frcroth) said it doesn't work

[2017-03-07 15:00] ghost opened #116 "handle NULL TDates"
Should the nil date be pretty as plain text or as date?
0 as plain Text would be 30.12.1899 as date
-693594 as plain text would be 00.00.0000 as date

[2017-03-07 18:17] bvorak commented on #116
Is there any chance the user get's to see this date? It's about the return date right?
If so I'd opt for the second proposal.
Even though the GUI could handle those "not yet set" return dates and display them in an user friendly way.

[2017-03-07 21:19] bvorak commented on #106
We need a new label then ;)

[2017-03-07 22:11] cnmicha commented on #116
nil just means "no date set", so e.g. for the return date, that the book was not returned yet, so replacing it by 0 or minus somewhat would lead to wrong values...

[2017-03-07 22:18] #109 closed, assigned to nobody

[2017-03-07 22:20] bvorak commented on #108
Pretty much solved, could still be improved though

[2017-03-07 22:20] #108 closed, assigned to nobody

[2017-03-07 22:23] bvorak commented on #99
@frcroth did you manage to fix this?

[2017-03-07 22:48] ghost commented on #116
No the user should not see this date if we do everything rigth. Yes the return date.
Yes I also guess the second one is better.
Yes @cnmicha but nil is a Object from the type Pointer. The TDate type is an alias for the Double type that does not allow the nil pointer as valid value. So Lazarus gives a compile error back when we try to pass the nil pointer as TDate object.
When this is right I see n

[2017-03-07 22:54] #112 closed, assigned to nobody

[2017-03-07 23:21] cnmicha commented on #107
this looks interesting http://wiki.freepascal.org/UniqueInstance

[2017-03-08 00:16] cnmicha commented on #83
and please throw an exception, see [here](https://github.com/Herder-IT-Solutions/HerderBib/issues/115#issue-212454883)

[2017-03-08 05:38] frcroth commented on #99
A solution didn't come up yet.

[2017-03-08 05:39] #71 closed, assigned to nobody

[2017-03-08 17:15] cnmicha commented on #115
@frcroth please check if it works with the newer version of uDBManagement in 2148b7ad9b23d3dae97861177cec871e35ab4f0c

[2017-03-08 19:12] cnmicha opened #121 "use return values of TDBManagement functions"
Please use the return values of functions in TDBConnection to determine if a request was successful

[2017-03-08 19:17] cnmicha opened #122 "rewrite unit functions to use Entity objects instead of id variables"
Example (now):
`procedure TDBManagement.BDel(BId:LongInt);
begin
  uDBConn.deleteBook(uDBConn.getBookById(BId));
end;  `

Example (better):
`procedure TDBManagement.BDel(var book:TBook);
begin
  uDBConn.deleteBook(book);
end;  `

to prevent deleted objects being used by the GUI which leads to data inconsistency. TDBConnection provides an easy solution for this by automatically destroying successfu

[2017-03-08 19:31] cnmicha commented on #116
There is a "Null" value for doubles, I'll check if there is anything compareable for TDate..

[2017-03-08 19:34] cnmicha commented on #116
There is not, so the database group will consider every date that is =-1, so =30.12.1899 as NULL value.

[2017-03-08 19:58] cnmicha commented on #116
Please use uDBConstants and null check like this:
`if TDateVar = SQLNull then`
working with all integer/float like types
so the -1 value can be changed at one place anytime when neccessary

[2017-03-10 07:09] ghost commented on #116
-693594 is the final value

[2017-03-10 07:22] cnmicha commented on #116
I will apply to code...

[2017-03-10 07:25] #116 closed, assigned to nobody

[2017-03-10 07:28] cnmicha opened #126 "SIGSEV when selecting single item"

[2017-03-10 07:45] #126 closed, assigned to cnmicha

[2017-03-10 07:53] ghost commented on #83
YES

[2017-03-10 07:53] #83 closed, assigned to JanMich

[2017-03-10 07:56] ghost opened #129 "deleteReturnedRentalOlderThan"
where return_date not null
i guess this does(<3) not work anymore because their null is not ourNull=-693594

[2017-03-10 07:59] ghost commented on #129
Also this function do not work at all
An error happens in line 602

[2017-03-10 08:04] ghost opened #130 "Error in setReturnDate"
`if (newReturnDate <> NuLL) and (newReturnDate >= 0) then`
i guess you can not ask if the return date is bigger then SQLNull because there are often less then 0.
Also i guess that the whole Case distinction do not have to exist.

[2017-03-10 08:10] JanMich commented on #101
i think they are, and we manage more then the rentals, e.g. ID generation

[2017-03-10 08:21] #130 closed, assigned to cnmicha

[2017-03-10 08:22] #129 closed, assigned to nobody

[2017-03-10 08:23] PSchlesselmann commented on #129
*"does" not "do", also in the second comment :P

Btw, it should work now, please test it.

[2017-03-10 08:26] cnmicha commented on #129
Btw, there is a constant for -693594 that is called SQLNull and can be changed easily if neccessary. You have to include DBConstants @ghgd-mp

[2017-03-10 08:31] cnmicha commented on #20
getStudentByLDAPUserPattern was implemented in 77dad8bf08dcec34aa730d616c5df7404d54e22f

[2017-03-10 16:08] ghost commented on #122
Good idea but the GUI Group asked us last lesson if we could do it with the ID.
We now have it with
function SDel(student:TStudent):Boolean;
function BDel(book:TBook):Boolean;
If the GUI would also like we could change it in every function

[2017-03-10 17:01] ghost commented on #121
We transmit these now

[2017-03-10 17:20] ghost commented on #115
Yes we made it today with your branch but forgot to merge them.
So now it is working.

[2017-03-10 17:20] #115 closed, assigned to cnmicha

[2017-03-10 17:25] ghost commented on #114
We did everything except the last which I can not remember what it was

[2017-03-10 17:27] ghost commented on #113
Well I do not know it either
but today we try it and our database save it as Double Value not formated
I would agree with you that this comment is not necessary

[2017-03-10 17:56] ghost commented on #101
i would agree to @JanMich
If you want we could change it to TManagement

[2017-03-11 10:34] ghost opened #134 "getStudentById"
In your function
function TDBConnection.getStudentById(id: longint): TStudent;
in line 343 you ask if the length is 0 but it has to be bigger the 0 or ?

[2017-03-11 10:47] ghost commented on #43
for example in procedure TForm1.BtInfoStudShowClick(Sender: TObject);
you have to do a null check because StrToInt will not work with ''
@frcroth

[2017-03-11 12:20] cnmicha commented on #134
confirmed

[2017-03-11 12:33] #134 closed, assigned to cnmicha

[2017-03-11 12:38] cnmicha commented on #113
sorry, we had some inconsistencies on how we save dates. Now as YYYY-MM-DD

[2017-03-11 12:40] cnmicha commented on #102
@ghgd-mp @Tobvolt @JanMich how is it going?

[2017-03-11 12:55] cnmicha opened #137 "comment language"

[2017-03-12 13:26] cnmicha opened #139 "TForm1.BtInfoBookDelClick incompatible type"
gui.pas(319,70) Error: Incompatible type for arg no. 1: Got "TBook", expected "LongInt"

[2017-03-12 13:29] cnmicha commented on #122
The idea behind the database group's concept was that the gui gets the object, displays its properties (id, ...) and when wanting to delete pass the object so it gets destroyed by TDBCon. When trying to display its properties again, it throws an error (SIGSEV) because the object doesn't exist anymore.

[2017-03-14 12:59] JanMich commented on #137
why? this should be understandable by everyone!

[2017-03-14 13:03] PSchlesselmann commented on #137
Well, everyone should be able to understand english.

[2017-03-14 13:24] bvorak commented on #48
This still needs discussion, especially with the users if it is really needed. I guess it could be useful depending on the workflow used.
This could guy wise be part of the "Bücher" tab which would require a little makeover though

[2017-03-14 13:39] JanMich commented on #122
done

[2017-03-14 13:39] #122 closed, assigned to nobody

[2017-03-14 13:42] bvorak commented on #137
I feel like it would make more sense to have consistent (English) code comments than to lead discussions like this one in English...:P
But if you really feel uncomfortable about English comments leave them German for now I'd say...translating them isn't necessarily the most important thing at the moment.
But we should ensure that the content and style is somewhat consistent across units.

[2017-03-14 13:45] PSchlesselmann commented on #137
Yeah, in case you are not familiar enough with this language: Just keep your comments in german.
We will translate them later.

[2017-03-14 13:52] bvorak commented on #14
@w1ngs how is the logo coming along? :P If you have some beta versions please share :)

[2017-03-14 13:59] JanMich commented on #114
Funktionenen für die GUI:
bekommen Name geben SId
bekommen BId geben Name

[2017-03-14 14:04] JanMich opened #146 "make the Date readable inside db"
make the Date readable insite the Database; postponed to V2.0

[2017-03-14 14:06] cnmicha commented on #113
changed now to ddddd (or similar), we will change back and reopen in V2 as we are going to use yyy-dd-mm later

[2017-03-14 14:06] #113 closed, assigned to JanMich

[2017-03-14 14:06] cnmicha commented on #146
#113

[2017-03-14 14:07] #139 closed, assigned to nobody

[2017-03-14 14:10] bvorak opened #147 "SIGSEGV when entering number in BookID field at "Ausleihen""
![sigsev140317](https://cloud.githubusercontent.com/assets/7289329/23904403/f8ced524-0884-11e7-9975-8df1a2ace6bc.JPG)

This occurs in GUI branch. ~Probably because it is so many commits behind Dev. branch.
But as it is the only fully compiling branch atm I would prefer to leave it that way until dev. branch compiles again (@ghgd-mp @JanMich)~

[2017-03-14 14:16] JanMich commented on #114
done

[2017-03-14 14:16] #114 closed, assigned to JanMich

[2017-03-14 14:17] PSchlesselmann commented on #147
The functions are identical in both branches but this could be a known error, let me have a look.

[2017-03-14 14:18] bvorak commented on #147
Nevermind, neither of the branches compiles at the moment, because of good ol' "LargeInt" :P

[2017-03-14 14:20] PSchlesselmann commented on #147
It's the mistake we already had a lot of times. I changed it in the database branch.
Michael will merge it soon. (#149)

[2017-03-14 14:21] PSchlesselmann commented on #147
According the LargeInt: It is currently changed to Int64, it will be merged soon ~either~ as well.

[2017-03-14 14:24] cnmicha commented on #147
The LargeInt problem should be solved now. @bvorak

[2017-03-14 14:28] bvorak commented on #147
Yes Dev. Branch us up and running again!

[2017-03-14 14:41] ghost commented on #102
not working now
Error in uDBConnection

[2017-03-14 14:44] ghost commented on #20
getStudentByLDAPUserPattern was implemented
for autocomplete use %-Operator

[2017-03-14 14:54] frcroth opened #153 "Fix graphic glitch"
The herder picture flickers when changing the tab

[2017-03-14 14:57] frcroth commented on #48
Adding this would be easy, question is wether this is still planed.

[2017-03-14 14:57] #48 closed, assigned to nobody

[2017-03-14 15:01] ghost commented on #102
Is working now

[2017-03-14 15:01] #102 closed, assigned to JanMich

[2017-03-15 09:27] PSchlesselmann commented on #147
@cnmicha This is fixed in the database branch.
Do you want to merge it? I could change it in the GUI branch manually either.

[2017-03-15 14:55] frcroth commented on #14
Added  @cnmicha s icon temporarly

[2017-03-15 15:32] frcroth opened #155 "Need getBooktypeByISBN in management"
For the booktype tab

[2017-03-15 15:51] frcroth opened #156 "getStudentWhoRentedBook"
//parameter: book Id
//returns the student who rented this book

[2017-03-15 15:59] cnmicha commented on #147
Always merging, no double manual changes because it will become confusing later. I try to merge #152 now

[2017-03-15 16:04] #147 closed, assigned to frcroth, bvorak

[2017-03-15 16:18] bvorak commented on #14
In case temporary becomes longer we should think about this:
https://icons8.com/license
Which would simply requires us to link the icon source in our "About" tab.

[2017-03-16 08:13] frcroth commented on #14
For now I added "Icon: https://icons8.com" in the "Impressum" bc i didn't find the file on  this source. Can someone link it please?

[2017-03-16 08:30] bvorak commented on #14
I guess it's this one?
https://icons8.com/icons/download/440/library

[2017-03-16 13:39] bvorak opened #157 "GUI: Catch Ugly Error when entering letter into one of the ID-fields"
This not very user friendly error pops up when entering anything other than an integer into any fields that expect an integer:
![uglyerror1](https://cloud.githubusercontent.com/assets/7289329/23998615/e52769d2-0a55-11e7-93e3-ddafaa554145.JPG)

We should either prevent the user from entering anything except numbers altogether
or provide our own more user friendly error...

@frcroth you got an idea

[2017-03-16 14:08] bvorak commented on #24
Are 10 digit ISBNs around a lot?
If yes we should consider this as important. As right now the Software is not usable for 10 digit ISBNs

[2017-03-17 07:15] cnmicha opened #158 "auto-lowercase all string inputs"
Should we select data case-insensitive?

[2017-03-17 07:19] frcroth commented on #157
fixed

[2017-03-17 07:19] #157 closed, assigned to bvorak

[2017-03-17 07:34] cnmicha commented on #43
Barcode generator is fine because they have only functions with required parameters

[2017-03-17 08:07] PSchlesselmann opened #159 "udbmanagement please clean your code"
Please add sections in your code to make it readable, like in the interface.
Also: Press Strg+D for auto formatting from time to time.
Also: https://github.com/Herder-IT-Solutions/HerderBib/commit/2713671807ab1e1dfc4958c32f9163d7d458e960#commitcomment-21367238
That's not a real problem, but if someone reads the code... it really doesn't look good.

[2017-03-17 08:08] #155 closed, assigned to JanMich

[2017-03-17 15:33] ghost commented on #159
Ok #162

[2017-03-17 15:33] #159 closed, assigned to nobody

[2017-03-17 15:34] ghost commented on #101
Ok #162

[2017-03-17 15:34] #101 closed, assigned to nobody

[2017-03-17 15:44] ghost commented on #156
i guess it would be easy with an SQL-query @cnmicha

[2017-03-17 15:48] ghost opened #163 "getStudentsByFirstLastClassNameBirthdate"
We have this function but I guess it would be easy done with an SQL-query and it would be much more efficient.
//Vor: den Vorname, Nachnamen, Klassennamen und Geburtsdatum
//     Geburtsdatum darf ourNil sein; cname darf '' sein, um keine Werte zu übergeben
//Erg: Ein Array von TStudent-Objekten mit den Daten
function getStudentsByFirstLastClassNameBirthdate(fname, lname, cname: string; birth: TDa

[2017-03-17 16:49] frcroth commented on #158
Would be helpful considering some teachers...

[2017-03-17 16:51] frcroth commented on #153
Appearently you can't put images in front of tabs so... wontfix

[2017-03-17 16:58] frcroth commented on #107
Would love to do this but it seems like I have to download something that isn't included in basic LAZARUS. Are there any solutions to include it within the school network so it still compiles?

[2017-03-17 17:00] frcroth commented on #137
The GUI doesn't even have comments...

[2017-03-17 17:01] frcroth opened #164 "Comments in the GUI"

[2017-03-17 17:16] frcroth opened #165 "Need BooktypeUpdate and BUpdate, don't I?"
To update data for booktype or book;

[2017-03-17 20:03] cnmicha commented on #156
Yeah sure, I'll do it

[2017-03-17 20:29] cnmicha opened #166 "sql limit 1 on single item select"

[2017-03-17 20:35] cnmicha commented on #156
TDBConnection task is done

[2017-03-17 20:36] cnmicha commented on #158
Should TDBConnection auto-lowercase all inputs or should we create extra functions? I prefer 1., what do you think?

[2017-03-17 20:41] #166 closed, assigned to cnmicha

[2017-03-17 20:43] cnmicha commented on #163
what does 'ourNil' mean?

[2017-03-17 20:43] cnmicha commented on #163
what does 'cname' mean?

[2017-03-17 20:43] frcroth commented on #158
Yeah the first option sounds more convenient.

[2017-03-17 20:47] #158 closed, assigned to nobody

[2017-03-17 20:50] cnmicha commented on #107
There is a howto in the wiki linked above, see this for further help: http://forum.lazarus.freepascal.org/index.php?topic=21773.0

The addon's repository and source code can be found here: https://github.com/blikblum/luipack/tree/master/uniqueinstance

[2017-03-18 07:54] frcroth commented on #96
Closed with commit 94ac72c9dad9d7a475a62cef4d6e797cea1c38c7

[2017-03-18 07:54] #96 closed, assigned to nobody

[2017-03-18 08:01] frcroth commented on #68
Implemented with ae46c28e5432c1300214982c36f8c44809658e5a

[2017-03-18 08:01] #68 closed, assigned to frcroth, bvorak

[2017-03-18 08:04] frcroth commented on #107
What, am I supposed to include the whole project in our files?

[2017-03-18 08:07] frcroth commented on #74
I guess I'll add it then

[2017-03-18 08:07] #74 closed, assigned to nobody

[2017-03-18 08:19] frcroth commented on #26
I think this guideline is widely adopted now

[2017-03-18 08:19] #26 closed, assigned to frcroth, bvorak, cnmicha, Jonas01, w1ngs, EinKeks, JanMich, john0107

[2017-03-18 08:33] ghost commented on #163
const
ourNil = -693594;
cname ist der Klassenname

[2017-03-18 08:59] ghost commented on #165
Yes, #169

[2017-03-18 09:09] ghost commented on #156
Should work now #169

[2017-03-18 10:57] cnmicha commented on #107
At least the .pas file, try it out... There's nothing against it in my opinion

[2017-03-18 11:00] cnmicha commented on #163
You have TDBConstants for that, please use this class instead of creating your own... It's completely unneccessary that every group defines their constants on their own..
See [this](https://github.com/Herder-IT-Solutions/HerderBib/issues/116#issuecomment-285151135) post
Thank you.

[2017-03-18 11:03] #156 closed, assigned to JanMich

[2017-03-18 11:10] ghost commented on #163
Ok you are right.

[2017-03-18 11:12] ghost commented on #146
The only solution is to save it as string is`t it ?

[2017-03-18 13:06] cnmicha commented on #146
No, SQLite allows saving dates in multiple formats, e.g. ddddd (as we are currently using) or yyyy-mm-dd (as we want to use in V2.0). SQLite converts it automatically to whatever format it thinks is best. In Lazarus, we need to pass the date as string, so we need a function that converts TDate to string in yyyy-mm-dd format.

[2017-03-18 13:22] #165 closed, assigned to JanMich

[2017-03-18 13:32] frcroth commented on #107
So I added two files uniqueinstanceraw and uniqueinstancebase and it works now.
The first thing I do is
`if InstanceRunning then halt;`

[2017-03-18 13:34] #107 closed, assigned to nobody

[2017-03-18 17:04] ghost commented on #137
In my opinion comments in english are not useful because it is for your school that will alway be german and why should we run danger that there are misconceptions because of the language.
Ok it looks professional but for example a software developer would never write instructions in english when he has an german customer.
We should guarentee that everyone understand our instructions and we could

[2017-03-18 17:08] bvorak commented on #137
And we also need to remember that right now we are mainly coding for Kraxeleddi ^^

[2017-03-18 17:50] PSchlesselmann commented on #137
Well how about just asking him about his preference?
Then we can be sure and this discussion finally becomes unnecessary.

[2017-03-20 22:01] bvorak opened #170 "getBooktypeByTitlePattern"
When people want to know if a booktype already exists, they might not have the ID at hand and should be able to check if a booktype with a certain name exists.

Easier and equally useful for now would be just to display a list of all Booktypes. Will open a seperate Issue for that.
Cheers!

[2017-03-20 22:03] bvorak opened #171 "Display list of all Booktypes in DB"
This is the simplest way to let user check if a certain booktype already exists.
Ordering them at least by subject makes sense. More filtering shouldnt be needed for the beginning.
As a bonus: Display number of books per booktype

[2017-03-20 22:11] bvorak opened #172 "Catch DB Errors"
Right now when database is somehow locked. (For instance when another DB viewer changed some records in DB) the program fails with this error:
![dblock](https://cloud.githubusercontent.com/assets/7289329/24124052/49201640-0dc2-11e7-907f-df93a47c3dd7.JPG)

We should be able to detect if DB is locked and
1) display it in the connectivity information tab (Administrator)
2) catch the error in a nicer

[2017-03-20 22:30] bvorak opened #173 "Check check-sum of Student- and Book-IDs"
To make sure the user scans a correct code

[2017-03-20 23:32] bvorak opened #174 "Should we save all barcodes ever createted?"
Do we want to save barcode png files longer than the print job itself. If yes for how long?
Right now they are dumped as png in the barcode folder. Is there a way to delete them?
If we leave them we might as well reuse them when printing an id again.

[2017-03-21 10:44] bvorak opened #175 "BUG: Renting doesn't work"
Minimum for Friday

[2017-03-21 10:48] bvorak opened #176 "We don't seem to check whether book is already in a rent relation"

[2017-03-21 10:59] bvorak opened #177 "Give user feedback whether action was successful or not"
One example: Go to "Schüler" tab -> display student -> add to  print queue -> no clear feedback on success
This applies to pretty much all buttons in the app

I think for at least the important showcases this would be nice for the Friday presentation so the app looks more polished

also: what about the beep sound on successful ID scan as described in the manual -> would also be awesome for Friday

[2017-03-21 13:06] PSchlesselmann commented on #137
I asked him: He prefers german.

[2017-03-21 13:16] w1ngs commented on #39
http://www.freepascal.org/docs-html/fcl/sqldb/usingparams.html @cnmicha
last paragraph

[2017-03-21 13:28] frcroth opened #178 "getStudentwhorentedBook SIGSEGV"
If there's no student there the result should be false or nil and not an exception

[2017-03-21 13:34] john0107 commented on #174
no

[2017-03-21 13:36] john0107 commented on #174
The barcodes are deleted as soon as 'latex.pdf' is created.

[2017-03-21 13:36] #174 closed, assigned to Jonas01, john0107

[2017-03-21 13:38] john0107 commented on #36
No

[2017-03-21 13:43] cnmicha commented on #146
FormatDateTime('YYYY-MM-DD', TDate) works

[2017-03-21 13:47] #163 closed, assigned to cnmicha, EinKeks

[2017-03-21 13:53] #175 closed, assigned to nobody

[2017-03-21 14:06] frcroth opened #181 "Multiple errors when editing students"
Management: You should test if there's even an id linked to that student
DB: Make it work! (Errror with Date)

[2017-03-21 14:35] cnmicha opened #183 "sql error messages"
TDBCon.getError bzw. .getErrorMsg returns empty/whatever but not the DBError var of TDBCon
Even NU doesn't know how to fix this

[2017-03-21 14:36] #178 closed, assigned to EinKeks

[2017-03-21 14:37] PSchlesselmann commented on #181
Please specify the error.

[2017-03-21 14:45] cnmicha opened #184 "existsUnreturnedRentalByBook"

[2017-03-21 14:59] #184 closed, assigned to cnmicha

[2017-03-21 19:36] ghost commented on #176
we do it in line 412
but we do not have an extra function
Do you want one ?

[2017-03-21 20:11] bvorak commented on #176
Das guckt sich jedoch erstmal nur an, ob das Buch je schonmal ausgeliehen wurde. Unterscheidet also nicht zwischen noch offenen Ausleihebeziehungen und vergangenen. Außerdem kann das Buch ja auch fremdgehen und in einer rental relation mit einem anderen Buch sein ;)
@cnmicha wollte ne DBConnection funktion dafür bereitstellen, die einfach checkt ob ein Buch momentan in einer Beziehung ist sodass m

[2017-03-21 20:13] bvorak commented on #176
Achso: In line 409 sollte da nicht ein 'or' operator hin, weil ja weder ein Buch noch ein Schüler NIL sein sollten?

[2017-03-21 23:01] bvorak commented on #36
Please reconsider, it would actually make a lot of sense if you at least posted it there.
Talked to Paul, he seemed to agree... :)

[2017-03-21 23:03] bvorak commented on #137
So we should probably translate all of our commments to German then I guess...maybe it's not a must until Friday though if we have a good Documentation!

[2017-03-21 23:18] cnmicha commented on #181
Date error should be fixed in today's lesson

[2017-03-21 23:22] cnmicha commented on #176
DBCon-Funktion existiert schon - #184

[2017-03-21 23:24] cnmicha commented on #172
This is not a TDBCon problem because as we stated in the comment above the interface you (management) need to check that TDBCon.getError returns NIL, so the sql statement was successful.

[2017-03-21 23:26] cnmicha commented on #172
waiting for #183

[2017-03-21 23:27] cnmicha commented on #171
TDBCon has this:
[code]

[2017-03-21 23:33] cnmicha commented on #170
I recommend byNamePattern ('%' as placeholder) so autocomplete will be possible

[2017-03-21 23:35] cnmicha commented on #177
relates to #121

[2017-03-23 18:07] ghost commented on #176
Thanks @bvorak
RCheckByBook now exists
please call it before RNew

[2017-03-23 18:10] bvorak commented on #176
Cool! Props go to @cnmicha

[2017-03-23 18:27] ghost commented on #181
Just successful tested to edit students.
Only The Birthdate do not work!

[2017-03-23 18:30] frcroth commented on #181
Birthdays don't work because I have no idea how to implement them.

[2017-03-23 18:32] ghost commented on #146
Ok so you save it now as Strin in the database?

[2017-03-23 18:34] ghost commented on #181
I either do not know but @cnmicha comment that FormatDateTime works.
I will have a look if this could work

[2017-03-23 18:39] cnmicha commented on #181
We do not reformat the date anymore, this was for V2. V1 saves dates as seconds since date x in the database.
@frcroth just pass a TDate object to student.setBirth(...)

[2017-03-23 18:40] cnmicha commented on #146
No, as date. This issue is only relevant for database group, no need to change anything in other groups' code ever.

[2017-03-23 19:04] ghost commented on #181
Could be fixed by #188
("Informationen betrachten und verändern" -> "Schüler" you could now work with the date)

[2017-03-23 19:52] ghost opened #191 "The possibility to import student csv NOT given"
There is no possibility given to import the csv file Nuck has each year to import/update the students
function importCSVSchueler(Dateiname: string): boolean;

[2017-03-23 20:14] ghost opened #192 "LDAPUser - Database updateinsert function does NOT work"
Do we work with LDAPUser or not because now when we create new students your function crashes because we do not give the LDAPUser.
Should we always transfer '' or would you misact it or should the GUI handle it ?
Also when we transfer an empty string ('') it crashes
![errorldap](https://cloud.githubusercontent.com/assets/25174759/24268489/3cabb902-100e-11e7-91da-9fb57388dba5.PNG)

[2017-03-23 20:30] ghost opened #193 "importCSV"
Error when a student is already in the database and now it wants to update the class name.
There is the Error "19L2" is not an integer in the updateinsert function.
The Problem: It is everywhere assigned as string

[2017-03-23 20:36] #191 closed, assigned to nobody

[2017-03-23 20:38] cnmicha commented on #193
Please check that you have the latest Version of the sqlite-file @ghgd-mp

[2017-03-23 20:38] frcroth commented on #176
I can't find RCheckByBook

[2017-03-23 20:39] cnmicha commented on #192
Just pass an empty string to us, I will set the field to NULL

[2017-03-23 20:41] frcroth commented on #176
@ghgd-mp please deliver

[2017-03-23 20:41] ghost commented on #192
The empty String also do not work
now we pass 'ldap'

[2017-03-23 20:42] cnmicha commented on #192
no, please pass an empty string, wait for pull #194 and try again :)

[2017-03-23 20:42] #192 closed, assigned to cnmicha

[2017-03-23 20:45] frcroth commented on #181
@cnmicha I would love to pass a TDate, if i'd know what it is, but i never found any documentation. Now i have 3 Integers, how can I cast a date?

[2017-03-23 20:46] cnmicha commented on #176
seems to be waiting for pull #188

[2017-03-23 20:46] frcroth commented on #173
I'll just assume that 145157bf9a51bb0f3102e2c51ad8b8018898aadb fixed it for good

[2017-03-23 20:46] #173 closed, assigned to nobody

[2017-03-23 20:47] cnmicha commented on #181
See http://www.freepascal.org/~michael/articles/datetime/datetime.pdf

[code]

[2017-03-23 20:51] ghost commented on #181
Yes like this it is done in the pull request #188

[2017-03-23 20:51] #181 closed, assigned to JanMich

[2017-03-23 20:52] ghost commented on #176
now merged

[2017-03-23 20:52] frcroth commented on #176
thx

[2017-03-23 20:55] cnmicha opened #195 "add Taskbar icon"

[2017-03-23 20:59] frcroth commented on #176
"Can't take the address of constant expressions" maybe this is a design flaw?
If I use getBookByISBN, can I still use var?

[2017-03-23 20:59] frcroth commented on #176
Anyway could also be a syntax error nontheless

[2017-03-23 21:01] frcroth commented on #176
ok fixed now, let's see if it works

[2017-03-23 21:01] cnmicha commented on #176
You need to pass a variable as a parameter to the management function, not a return value of a function

[2017-03-23 21:01] frcroth commented on #176
Yes figured it out by now thanks

[2017-03-23 21:06] #195 closed, assigned to cnmicha

[2017-03-23 21:06] frcroth commented on #176
I implemented it, and while it compiles I haven't tested if it fixes the problem. Sorry

[2017-03-23 21:08] frcroth commented on #195
?

[2017-03-23 21:17] ghost commented on #193
thx it is working now

[2017-03-23 21:17] #193 closed, assigned to nobody

[2017-03-23 21:19] ghost opened #198 "importCSV"
The function should not only import new students it should also change the class name from all other to "old" or something. This have to be done.

[2017-03-23 21:20] cnmicha commented on #198
It would be nice if the GUI could ask the user for the 'something' string

[2017-03-23 21:25] bvorak commented on #176
Unfortunately it does not seem to fix it...double renting still possible...hard to debug where the problem lies, the gui logic seem legit :S any ideas?

[2017-03-23 21:35] cnmicha commented on #176
Please test with the current TDBCon version in 9b032b9 and merge #199 if this solves the problem

[2017-03-23 21:42] frcroth commented on #171
I'll be working on this. Already added the needed GUI elemnts

[2017-03-23 21:43] bvorak commented on #176
Fixed the faulty behaviour! But the GUI still doesn´t give feedback when rental wasn't successful :S @frcroth

[2017-03-23 21:44] frcroth commented on #99
So on my Windows 10 machine this works...
Meaning it may be a problem with the Windows elements of XP

[2017-03-23 21:44] bvorak commented on #176
Ah wait might be an older gui version in database branch

[2017-03-23 21:45] frcroth commented on #98
What are the advantages of this, because I currently don't see any delay in db queries anyway?

[2017-03-23 21:55] cnmicha commented on #176
please try again, I merged development into database

[2017-03-23 21:56] bvorak commented on #176
Tried. Even after merge does not fix double rentals in developemetent branch...does fix it in database branch though...very weird

[2017-03-23 22:03] ghost opened #201 "getAllRentalsByBookAndStudent"
It would be great if you edit this function (by a boolean as parameter) or write a new one that could give back also only the not returned Rentals by Book and Student (or only Book).
Only with this we could fix BBack

[2017-03-24 05:37] frcroth commented on #177
This specific case now has feedback. Please list all buttons in need.

[2017-03-24 05:52] frcroth opened #202 "Strings are cut off"
When showing student data, it say "oldschoo" instead of "oldschool". How can this happen?

[2017-03-24 07:48] cnmicha opened #203 "undo accidently created rental"

[2017-03-24 07:52] cnmicha opened #204 "set entity object ID's after insert"
set the SQLite auto-generated id to be able to update the object after inserting to prevent inserting it again

[2017-03-24 08:01] cnmicha opened #205 "add "temp" to temp folder names"
so the administrator knows which files can be deleted

[2017-03-24 08:07] cnmicha commented on #98
No freezing of the GUI if there would be some delay @frcroth

[2017-03-24 08:10] cnmicha opened #206 "edit print settings in GUI"
-NU

[2017-03-24 08:11] cnmicha opened #207 "create config file"
and save
* db path
* LaTeX path

there should be a class that makes reading/writing easier

[2017-03-24 08:13] cnmicha opened #208 "multirenting"
Scan many students and books directly after each other without keyboard/mouse access so the rental process is faster

[2017-03-24 08:17] frcroth commented on #206
Added in the gui with 9acd2debda236ceadfc723e76196823b8d2158d1 , not functional yet

[2017-03-24 08:21] ppaul98 commented on #205
We delete everything...

[2017-03-24 08:21] #205 closed, assigned to nobody

[2017-03-24 11:48] frcroth commented on #203
This requires a function in tbarcodeprinter

[2017-03-24 11:50] frcroth commented on #202
Someone told me that the class attribute is capped at 10 chars, this would be an answer.

[2017-03-24 11:50] #202 closed, assigned to nobody

[2017-03-24 11:52] frcroth commented on #176
So anymore ideas?

[2017-03-24 11:53] frcroth commented on #171
Can management please implement this?

[2017-03-24 11:54] bvorak commented on #176
Sry...but 5. PK :)

[2017-03-24 11:55] frcroth commented on #14
Since we have presented it with the temporary icon I guess we won't change it

[2017-03-24 11:55] #14 closed, assigned to w1ngs

[2017-03-24 11:56] frcroth commented on #22
Since birthday now works, I'll be looking into this.

[2017-03-24 11:57] frcroth commented on #24
The ISBN is 13 digits long if assigned on or after 1 January 2007, and 10 digits long if assigned before 2007.

[2017-03-24 11:58] #28 closed, assigned to frcroth

[2017-03-24 11:59] #36 closed, assigned to Jonas01

[2017-03-24 12:00] frcroth commented on #36
5add578

[2017-03-24 12:01] #37 closed, assigned to nobody

[2017-03-24 12:01] frcroth commented on #43
Any more places where this needs to happen?

[2017-03-24 12:02] frcroth commented on #61
So panels didn't work, any other ideas?

[2017-03-24 12:04] frcroth commented on #63
So when is this function called? Is this a problem with the GUI?

[2017-03-24 12:07] #99 closed, assigned to nobody

[2017-03-24 12:07] frcroth commented on #103
Done

[2017-03-24 12:07] #103 closed, assigned to nobody

[2017-03-24 12:08] frcroth commented on #92
I would need to hash it probably. I do not know if this is worth the units I need.

[2017-03-24 12:09] frcroth commented on #100
We need this for #203

[2017-03-24 12:10] frcroth commented on #106
Please implement this, management

[2017-03-24 12:12] frcroth commented on #106
Maybe even a function that generates generic usernames from 6 letters of last name and 2 letters of first name? Wouldn't be too hard.

[2017-03-24 13:04] ghost opened #209 "faster rental"
When no edit field is enabled and the user scan an id the gui can automatically call SIdCheck or BIdCheck to find out in which edit field the id has to be written.
Would this be like Nucks image of scanning fast the book and the student id and have nothing to click ?

[2017-03-24 13:55] frcroth opened #210 "create student from gui"
Create a student from the GUI for debug and administration purposes, maybe delete as well

[2017-03-24 20:36] ghost commented on #63
This possibility is not given or ?
Perhaps there could be an part ind the admin tab that allows to delete every rental until a chooseable date.
This part only would have to Encode the date like the first part of BtInfoStudEditClick and call RDel

[2017-03-24 20:38] ghost commented on #92
I guess not. But we have to ask Nuck or the other teacher in what he would like to change it.

[2017-03-24 20:41] ghost commented on #98
Ok but then when the user double click on some button two queries would dend to the database that would lead to some errors like Database locked or ?

[2017-03-24 21:05] ghost commented on #106
function getStudentByLDAPUserPattern(ldap_user: string): ArrayOfStudents;
function SNew(lastN, firstN, classN, ldap_user: string; birth: TDate): int64;
Do the fnction just get the fname and lname and give the ldap_user ?

[2017-03-24 21:45] frcroth commented on #63
So I just ran it with 1.1.2000 and it said it succesfully deleted something like a few million rental relations. I don't think that this is intended.

[2017-03-24 21:45] frcroth commented on #63
So it could be an error with the return int

[2017-03-25 15:44] ghost opened #213 "updateInsertStudent Mistake"
In the updateInsertStudent function is a Mistake. You do not write the passed id in the database.
I guess something like
FieldByName('id').AsLargeInt := student.getId;
is missing.

[2017-03-25 16:10] ghost commented on #63
![dberror](https://cloud.githubusercontent.com/assets/25174759/24323952/d5ef26b0-117d-11e7-89ec-e7f64cd0cb77.PNG)
?

[2017-03-25 21:45] cnmicha commented on #203
This requires #204

[2017-03-25 21:47] cnmicha commented on #213
No, this way we would assign the standard value (-1) of new created rentals as id. Instead, we want SQL to auto-generate the value for us. I guess you mean #204 :)

[2017-03-25 21:50] cnmicha commented on #98
Then you need to check if there are queries running at the moment and display a please-wait message. When the first query finished, you could start the second one automatically

[2017-03-27 08:31] ghost commented on #213
No, I do not, we would not and we have to do!
The managemen create for every student his id. This ids have to fit some conditions and if you let it auto-generate they would not fit.
By adding this line in line 538 it will be fixed.
Best regards for your exam.

[2017-03-27 08:42] ghost commented on #204
Why should it not be able? Just the updateinsert function with the id or do I misunderstand this issue?

[2017-03-27 20:46] bvorak commented on #209
related #208
maybe we should discuss over  there?

[2017-03-27 21:05] bvorak commented on #206
What settings do you want to be able to edit?
~Felix commit added the functionality of deleting already queued print jobs which is asked for in #100~

[2017-03-27 21:10] bvorak commented on #203
GUI wise I would like to be able to right click a rental in the rental-relations-overview and be able to delete specific rental..

[2017-03-27 21:36] bvorak commented on #100
"Added in the gui with 9acd2de , not functional yet" @frcroth

[2017-03-27 21:43] frcroth commented on #100
I added a clear feature, that was already given in the barcode generator's code. This has little to do with deleting items from the queue.

[2017-03-27 21:43] frcroth commented on #100
Also my name is @frcroth

[2017-03-27 21:44] frcroth commented on #203
@bvorak this is utopic (v4)

[2017-03-27 21:46] frcroth commented on #206
What I mentioned here is the GUI interface for changing from default printmode to Testmode, like mentioned in class.

[2017-03-27 21:46] bvorak commented on #100
Ah sry only overlooked quickly

[2017-03-27 21:51] bvorak commented on #203
How would you implement deletion of specific rental? @frcroth

[2017-03-27 21:54] frcroth commented on #203
You could maybe add a "Ausleihbeziehung auflösen" Button in the book tab

[2017-03-27 22:05] bvorak commented on #203
Also an "undo most recent rental" would be a step in the right direction

+1 for putting this in the book tab as it is only book specific

[2017-03-28 08:56] frcroth commented on #203
added placeholder button in 67b58774163a6f30094befbb5ef6cc1eac6830a9

[2017-03-28 21:34] cnmicha commented on #204
I'll tell you on Friday :)

[2017-03-31 06:14] #213 closed, assigned to cnmicha

[2017-03-31 06:17] ghost commented on #198
Nuck is not happy about this idea

[2017-03-31 06:17] #198 closed, assigned to nobody

[2017-03-31 06:22] #201 closed, assigned to cnmicha

[2017-03-31 06:30] cnmicha commented on #63
??? please specify more detailed what has to be done to reproduce the error @ghgd-mp

[2017-03-31 06:36] JanMich commented on #171
why is this issue not closed? Problems?

[2017-03-31 06:39] john0107 commented on #203
Added delete function. Not in GUI yet.

[2017-03-31 06:54] JanMich commented on #98
so also,
waiting for #183

[2017-03-31 06:59] #210 closed, assigned to nobody

[2017-03-31 07:04] frcroth commented on #207
Please add additions

[2017-03-31 07:05] PSchlesselmann commented on #170
Now it's your turn management.

[2017-03-31 07:07] cnmicha commented on #203
database #204 should be fixed, please try out if the rental object's id gets updated after inserting to the auto-increment value

[2017-03-31 07:09] cnmicha commented on #39
how is it going? @w1ngs

[2017-03-31 07:10] frcroth commented on #207
https://github.com/Herder-IT-Solutions/HerderBib/wiki/Konfigurationsdatei

[2017-03-31 07:17] JanMich commented on #106
what is about getting the ldap by the csv. when we create the ldap then its possible that we create other usernames than Nuck does. So wenn we import the username with the csv file this would be no problem.
Tobis is talking to Nuck...

[2017-03-31 07:22] JanMich commented on #106
Nuck try to get the username into the csv file. But when the csv cant give us a username we can create one.

[2017-03-31 07:24] JanMich opened #218 "change Ldap (Username) afterwards"
GUI, can u impelement a Interface to change the username of the student afterwards? Only as admin would be great!

[2017-03-31 07:29] ghost opened #219 "expand function getStudentsByFistLastClassNameBirthdate"
expand function getStudentsByFistLastClassNameBirthdate with the ldap (username)  that could be ''

[2017-04-04 12:44] cnmicha commented on #146
seems to be done already.. strange

[2017-04-04 12:44] #146 closed, assigned to cnmicha

[2017-04-04 12:44] cnmicha commented on #204
does not work

[2017-04-04 12:48] ghost commented on #170
Fixed from our side with the function getBTypeByTitlePattern
Now it's your turn GUI

[2017-04-04 13:03] JanMich commented on #207
we have to discuss how necessary it is to be able to change the file path of the .csv file ...
we say that only the admin can insert students with the .cvs file and he should be able to put the file into the right folder.
Please give your opinion!

[2017-04-04 13:15] frcroth commented on #207
Yes that is true but it wouldn't hurt nontheless

[2017-04-04 13:23] cnmicha commented on #207
What's about a TOpenDialog?

[2017-04-04 13:23] cnmicha commented on #171
GUI are you done?

[2017-04-04 13:26] JanMich commented on #207
Its possible to insert the path with the filename to import the .csv file.
There no more need of config variables for the management.

[2017-04-04 13:28] cnmicha commented on #63
please try again and reopen the issue if the problem persists

[2017-04-04 13:28] #63 closed, assigned to frcroth, cnmicha

[2017-04-04 13:36] cnmicha commented on #177
BtRent.click
BtRet.click
BtAddBook.click
BtPrint.click
BtPrintDelete.click
BtInfoStudCreate.click
BtInfoStudPrintQ.click
BtInfoStudExportRel.click
BtInfoStudEdit.click
BtInfoBookDel.click
BtInfoBookEdit.click
BtInfoBookPrintQ.click
BtInfoBookDelRentals.click
BtInfoBookDelRentals.click
BtInfoAdminCSV.click
BtInfoAdminSendDBName.click
BtInfoAdminDeleteRentals.click
😃

[2017-04-04 14:03] john0107 commented on #24
10 digit ISBNs are converted to 13 digit ISBNs now.
10 digit ISBNCHECKSUM is still missing.

[2017-04-07 08:56] #218 closed, assigned to nobody

[2017-04-07 09:31] frcroth commented on #171
It is implemented, but doesn't work, because of SIGSEGV in getISBN, so I guess I am trying to get an ISBN of a booktype that doesn't exist. Could be my mistake.

[2017-05-04 02:16] PSchlesselmann commented on #219
I don't really get what is needed here. Can you explain it to me in more detail/in another way?

[2018-10-18 18:25] frcroth commented on #25
The cursor now automatically selects a field when changing tab. Can't test with scanning device.

[2018-10-18 18:25] #25 closed, assigned to frcroth